<div class="header-container">
    <div class="left-section">
        <img *ngIf="!appService?.isLoginPage" src="../../../assets/menu.png" (click)="menuReference.toggle()" />
        <h2>RM</h2>
    </div>
    <ng-container *ngIf="!appService?.isLoginPage">
        <div class="right-section">
            <div class="client-selector">
                <ng-select [items]="clients" bindLabel="name" bindValue="id" [(ngModel)]="selectedClient"></ng-select>
            </div>
            <img class="power" src="../../../assets/power.png" routerLink="/login" (click)="menuReference.close()" />
        </div>
    </ng-container>
</div>