:host {
    .send-report-container {
        padding: 20px;

        .meta-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            margin-left: 15px;

            .title {
                display: flex;
                align-items: center;

                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }

                span {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .employees-list {
            box-shadow: #00000085 0 0 10px;
            border-radius: 10px;

            table {
                width: 100%;

                thead {
                    th {
                        background: #5699f275;
                        border-bottom: 1px solid #d3d3d3a1;

                        &:not(:last-child) {
                            border-right: 1px solid #d3d3d3a1;
                        }

                        &:first-child {
                            border-top-left-radius: 10px;
                            padding-left: 20px;
                        }

                        &:last-child {
                            border-top-right-radius: 10px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            background: #FFF;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid #d3d3d3a1;
                        }

                        &:last-child {
                            td {

                                &:first-child {
                                    border-bottom-left-radius: 10px;
                                }


                                &:last-child {
                                    border-bottom-right-radius: 10px;
                                }
                            }
                        }
                    }
                }

                th,
                td {
                    padding: 10px;

                    &:not(:last-child) {
                        border-right: 1px solid #d3d3d3a1;
                    }

                    &:nth-child(1) {
                        width: 10%;
                        text-align: center;
                    }

                    &:nth-child(2) {
                        width: auto;
                    }

                    &:nth-child(3) {
                        width: 15%;
                        text-align: center;

                        .icon-container {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            position: relative;
                            border-radius: 50%;
                            margin: 15px;
                            padding: 2px;
                            cursor: pointer;

                            img {
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 18%;
                                left: 22%;
                            }

                            &.red {
                                background-color: #ea2a2ac7;
                            }

                            &.green {
                                background-color: #adff2f;
                            }
                        }
                    }
                }
            }
        }
    }
}